.content_cta {


    .text {
        padding: toRem(20px) toRem(12px);


        .title {
            font-family: "Poppins", sans-serif;
            font-size: $font-lg;
            font-weight: 700;
        }

        .subtitle {
            margin-top: toRem(16px);
            font-size: $font-xsm;
            line-height: 1.6em;
        }
    }

    .btn {
        font-family: "Poppins", sans-serif;
        background-color: white;
        color: $violet;
        font-size: $font-xxsm;
        width: 55%;
        // height: toRem();
        line-height: 2.3em;
        margin: 0 auto toRem(5px);
        padding: toRem(4px) 0;
        border-radius: toRem(20px);
        box-shadow: 0 2px 4px rgba($color: #383636, $alpha: 0.9);
    }
}