.header {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    // height: toRem(20px);
    height: 8.5%;

    .logo {
        // height: toRem(30px);
        height: 50%;
    }
}